# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\xlh\pytorch-grad-cam\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
